VITE_SUPABASE_URL=https://qedchdqmiyoognguljuc.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFlZGNoZHFtaXlvb2duZ3VsanVjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQxMzY0ODYsImV4cCI6MjA5OTcxMjQ4Nn0.hd-HKIRL-RWjU3rFvygjd5pxIuUeix8jVNqLZFdwPl8
